/* Imports🤗🤗🤗 */
@use "./components" as *;
@use "./mb" as *;
@use "./pc" as *;
/* @use "./src" as *; */

@import "./agenda";




/*              #Starting😎😎😎 || Mobile 📲📲📲 firts || Global                 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 


body {
    min-height: 100vh;
    width: 100%;
    background: #FFFFFF;
    
    
    
    

}






#pc_navbar_top{
    
    background: #000;
    color: #000;
    
    height: 5vh;
    width: 100%;
    
    position: fixed;
    top: 0;
}






main{
    background: #ACB3FF;
    
    min-height: 300vh;
}





















/* The sidebar menu */
#pc_navbar_left {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
#pc_navbar_left a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
#pc_navbar_left a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #pc_navbar_left {padding-top: 15px;}
  #pc_navbar_left a {font-size: 18px;}
}








footer{
    
    background: #FFFFFF;
    color: #000;
    
    height: 10vh;
    width: 100%;
    
    
    text-align: center;
    
    
}




















/*                                      pc                                     */




@media (min-width: 900px) {
    
    /* Using it in Pc 🍼🐥🍼🐥  🤗🤗🤗 */
    @include displays-pc;
    
}

































/* Using it in mobile 📱📱📱📲📲📲 🤗🤗🤗 */
@include navbar1;
@include displays-mb;


                                                                                                                                                                                                                                                                                                                                                