@use "./src/sass" as *;


::-webkit-scrollbar {
    display: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    width: 100%;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}



@media (min-width: 360px) and (max-width: 768px){
    
    #navbar-lg{
        display: none;
    }
    body{
        padding-top: 0;
        padding: 0;
        margin: 0;
        
    }
    
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    body{
        padding-top: 3rem;
        background: #FF3B6A;
        
    }
    
    
}













/* .scroll {
    padding: 4px;
    height: 44px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 35px 8px;
    
} */



/* .scroll * {
    list-style: none;
    display: grid;
    place-items: center;
    min-width: 5.8rem;
    text-align: center;
    height: 4vh;
    
    
} */



/* .scroll li a {
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: bold;
    font-weight: 700vh;
    color: #000000;

} */


/* .scroll li a:focus {
    background: red;

} */


/* #marker {
    background: #000;
    height: 7px;
    position: relative;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    grid-row: 2;
} */




/* #line {
    background: #000;
    height: 1px;
    width: 100%;

} */































/* #hero{
    background: red;
    height: 100vh;
} */

/* #container {

    margin-inline: auto;
    height: 25vh;
    width: 80%;
    margin-top: 10rem;
    text-align: center;
    font-style: bold;
    font-weight: 700;
    display: grid;
    place-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
    border: 2px solid #000000
    
} */

/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
} */

/* #menu{
    height: 2.3rem;
    width: 40px;
    font-size: 5rem;
} */



/* .ionic{
    margin-top: 5rem;
} */





::-webkit-scrollbar {
    display: none;
}





/* #wrapper {
    margin-top: 3rem;
    overflow: hidden;
    height: 58px;
    background-color: #70FFA9;
} */




/* @media (min-width: 700px) and (max-width: 1500px) {
    #menu {
        display: none;
    }
} */

/* #scrollmenu {
    overflow: auto;
    white-space: nowrap;
} */

/* a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
} */






/* #main{
    margin-top: 5rem;
} */






















/* imports */
@import "./src/sass";




@include navbar1-1;
@include navbar1-2;
@include navbar1-3;
@include navbar1-4;


@media (min-width: 360px) and (max-width: 490px) {
        #navbar2{
            display: none;
        }
    }
@media (min-width: 490px) and (max-width: 1500px) {
        #nav2{
            display: none;
        }
    }
