/* Imports🤗🤗🤗 */
@use "./components" as *;
@use "./mb" as *;
@use "./pc" as *;
/* @use "./src" as *; */

@import "./agenda";




/*              #Starting😎😎😎 || Mobile 📲📲📲 firts || Global                 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 

body {
    min-height: 100vh;
    width: 100%;
    background: #FFFFFF;

}





/*                                      pc                                     */
/* @media (min-width: 360px) and (max-width: 700px) {

    #navbar1 {
        background: #FFFFFF;
    }
    .sidebar-sm{
        background: #FFFFFF;
        
    }

    #navbar2 {
        display: none;
        display: block;
        
    }
} */ 
/* @media (min-width: 700px) and (max-width: 950px) {
    .sidebar-sm,#circle,#banners{
        display: none;
    }
    #navbar2{
        display: block;
    }
    #navnar1{
        display: none;
    }
    .pro_navbar_main_container{
        display: none;
    }
    body{
        padding-top: 5rem;
        margin: 0;
    }
    
} */
/* @media (min-width: 960px) {
    .sidebar-sm,#circle,#banners{
        display: none;
    }
    #navbar2{
        display: block;
    }
    #navnar1{
        display: none;
    }
    .pro_navbar_main_container{
        display: none;
    }
    body{
        padding-top: 5rem;
        margin: 0;
    }
    .d-flex{
        position: relative;
        left: 10rem;
    }

} */

@media (min-width: 900px) {
    
    
    
    
    /* Using it in Pc 🍼🐥🍼🐥  🤗🤗🤗 */
    @include displays-pc;
    
}

































/* Using it in mobile 📱📱📱📲📲📲 🤗🤗🤗 */
@include navbar1;
@include displays-mb;


                                                                                                                                                                                                                                                                                                                                                