
/* toogle */
.pro_navbar_main_container.active {
     height: 100vh;

     .pro_navbar_mb_sm {
         .pro_navbar_mb_main-content {
             height: 91vh;

             .form-control {
                 display: block;
                 position: relative;
                 left: 5%;
                 width: 90%;
             }

             .pro_navbar_page-menu_mb {
                 width: 100%;
                 height: 8vh;
                 border-radius: 0;
                 margin-bottom: 1rem;
                 border-bottom: 3px solid blue;
                 margin-top: 0;
                 display: block;
                 display: grid;
                 place-items: center;
                 grid-template-columns: repeat(5, 1fr);

                 li {
                     position: relative;
                     align-items: center;
                     justify-content: center;
                     width: 50%;

                 }
             }

             .pro_navbar_toggle-menu_mb {
                 height: 70vh;
                 margin-top: 1.5rem;
                 margin-bottom: 3.5rem;
                 display: block;
                 box-shadow: 0 0 2rem #784D68;

                 .wrapper {
                     position: relative;
                     top: 2rem;
                     right: 7%;
                     border-radius: 30px;
                     border-bottom-left-radius: 0;
                 }

                 .wrapper::before {
                     content: "";
                     position: absolute;
                     top: 46px;
                     height: 40px;
                     width: 25px;
                     background: #8045c6;
                     border-bottom-left-radius: 35px;
                     border-top-left-radius: 35px;
                     z-index: 2;

                 }

                 .wrapper::after {
                     content: "";
                     position: absolute;
                     top: 45px;
                     height: 40px;
                     width: 25px;
                     background: #af43f1;
                     border-bottom-left-radius: 35px;
                     z-index: 1;

                 }

                 li {
                     position: relative;
                     border-bottom: 1px solid black;
                     left: 10%;
                     display: flex;
                     top: 3rem;
                     align-items: left;
                     justify-content: left;
                     width: 80%;

                     .pro_toggle_navbar_mb {}
                 }
             }

             .pro_navbar_sub-menu_mb {
                 display: grid;
             }

         }
     }
 }

 .pro_navbar_mb_main-content.toggle {
     .pro_navbar_mb_main-content.toggle:first-child {
         display: none;
     }

 }

 .pro_navbar_main_container.active:nth-child(2) {
     border: 3px solid #FF0050;
 }

 .pro_navbar_main_container.toggle {
     height: 15vh;
     border-bottom-left-radius: 30px;
     border-bottom-right-radius: 30px;

 }


 /* ********************‡**********‡       End      ****************‡**************‡
****************************************************************‡*************‡***/

 .pro_navbar_main_container {
     height: 8vh;
     /* border-bottom-left-radius: 3rem; */
     /* border-bottom-right-radius: 3rem; */
     background: #FFFFFF;
     width: 100%;
     border: 3px solid #FF00A4;
     
     .pro_navbar_mb_sm {
         .pro_navbar_mb_header {
             /* border: 3px solid #9F00FF; */
             display: grid;
             grid-template-columns: 85% 1fr;

             .pro_navbar_brand_mb {
                 /* padding-top: 10%; */
                 position: relative;
                 top: 0.3rem;
                 font-size: 2.7rem;
                 margin: 0;
                 padding: 0;
             }

             .pro_navbar_mb_btn {
                 margin-top: 0.4rem;
                 background: #fff;
                 border-radius: 0.8rem;
                 width: 3rem;
                 height: 3rem;
                 display: grid;
                 place-items: center;
                 /* position: sticky; */
                 box-shadow: 0 0 2rem black;

                 #icon_menu {
                     font-size: 2rem;
                     display: block;

                 }

                 #icon_close {
                     font-size: 2rem;
                     display: none;
                 }
             }

             .pro_navbar_mb_btn.active {
                 #icon_menu {
                     display: none;
                 }

                 #icon_close {
                     display: block;
                 }
             }
         }

         .pro_navbar_mb_main-content {
             height: 8vh;
             /* border-bottom: 3px solid red; */

             .form-control {
                 display: none;
             }

             .pro_navbar_page-menu_mb {
                 margin-bottom: 0;
                 margin-top: 1rem;
                 padding: 0;
                 border: 3px solid yellowgreen;
                 height: 8vh;
                 width: 100%;
                 display: grid;
                 grid-template-columns: repeat(5, 1fr);
                 

                 li {
                     display: flex;
                     align-items: center;
                     justify-content: center;

                     .pro_toggle_navbar_mb {
                         display: flex;
                         flex-direction: column;
                         align-items: center;
                         justify-content: center;
                         padding: 1.3rem;
                         border-radius: 45%;
                         box-shadow: 0 0 2rem #784D68;
                         background: rgba(255, 255, 255, 0.5);
                     }

                     .mb_items {
                         color: black;
                         display: none;
                     }

                     .mb_icons {
                         font-size: 1.0rem;
                     }
                 }
             }

             .pro_navbar_toggle-menu_mb {
                 padding: 0;
                 display: none;
                 position: relative;
                 left: 13%;
                 width: 77%;
                 margin-top: 1.2rem;
                 margin-bottom: 1.2rem;
                 border-radius: 30px;

                 .wrapper {
                     background: #af43f1;
                     width: 90%;
                     height: 5vh;
                     margin: 0;
                     padding: 0;
                 }

                 li {
                     display: none;

                     .pro_toggle_navbar_mb {
                         display: none;
                         display: flex;
                         flex-direction: column;
                         align-items: center;
                         justify-content: center;
                         padding: 1.3rem;
                         border-radius: 45%;
                         box-shadow: 0 0 2rem #784D68;
                         background: rgba(255, 255, 255, 0.5);

                     }

                     /* list-style: none; */
                     display: flex;
                     align-items: center;
                     justify-content: center;

                     .mb_items {
                         color: black;
                         display: none;
                     }

                     .mb_icons {
                         font-size: 1.0rem;
                     }
                 }
             }

             .pro_navbar_sub-menu_mb {
                 display: none;
                 padding: 0;
                 border: 3px solid #1BFF00;
                 position: relative;
                 left: 6%;
                 width: 87%;
                 /* display: grid; */
                 grid-template-columns: 1fr 1fr 200px 1fr 1fr;
                 border-radius: 30px;

                 li {
                     list-style: none;
                     display: flex;
                     align-items: center;
                     justify-content: center;

                     .pro_toggle_navbar_mb {
                         display: flex;
                         flex-direction: column;
                         align-items: center;
                         justify-content: center;
                         padding: 0.8rem;
                         border-radius: 45%;
                         box-shadow: 0 0 2rem #784D68;
                         background: rgba(255, 255, 255, 0.5);
                     }

                     .mb_items {
                         color: black;
                         display: none;
                     }

                     .mb_icons {
                         font-size: 1.0rem;
                     }
                 }

                 li:nth-child(1) {}

                 li:nth-child(2) {}

                 li:nth-child(3) {
                     .pro_toggle_navbar_mb {
                         display: none;
                     }
                 }

                 li:nth-child(4) {}

                 li:nth-child(5) {}

             }

             .pro_navbar_page-menu_mb.toggle {
                 background: red;
                 display: none;
             }

             .pro_navbar_sub-menu_mb.toggle {
                 border: 2px solid #FF0050;
                 top: 0.8rem;
                 left: 9.5%;
                 width: 80%;
                 bottom: 1.2rem;
                 grid-template-columns: 1fr 1fr 50% 1fr 1fr;
             }
         }
     }
 }

 .pro_navbar_pc_lg {
     display: none;
 }